body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button{
  cursor: pointer;
}

.hidden {
  display: none;
}
