* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links {
  display: flex;
  column-gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
}

.navbar-links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-menu-toggle {
  display: none;
}
/* side navbar links */
.side-navbar {
  background-color: #1d232c;
  color: white;
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  left: -60%;
  padding: 20px;
  transition: 0.5s;
  z-index: 2;
}
.side-navbar-link {
  margin-bottom: 30px;
}
.side-navbar-link a {
  text-decoration: none;
  color: white;
}
.side-navbar-links a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#cancel:hover {
  cursor: pointer;
}
#bar:hover {
  cursor: pointer;
}
/* header */

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.header img {
  width: 300px;
  height: auto;
}

.header-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

/* service */
.service {
  padding: 20px;
}

.service-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.service-container-2 div {
  background-color: #f2f4f7;
  border-radius: 5px;
  padding: 10px;
}

/* New arrival */
.new-arrival{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.new-arrival-container{
  position: relative;
  flex-basis: 20%;
  flex-grow: 1;
}

.new-arrival button{
  padding: 5% 8%;
  margin-top: 10px;
  color: #1d232c;
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  border-radius: 10px;
}
.new-arrival button:hover{
  cursor: pointer;
}

/* news */

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-top: 20px;
}

.news input{
  padding: 11px;
  width: 70vw;
  margin-bottom: 10px;
  border: 2.5px solid black;
}

.news button{
  margin-top: 10px;
  color: #f2f4f7;
  background-color: #1d232c;
  border-radius: 10px;
  padding: 10px;
}
.news button:hover{
  cursor: pointer;
}
/* prosuct section */

.product-section{
  margin-top: 20px;
}
.product-search{
  width: 80%;
  border: 2px solid black;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.product-search input{
  border: none;
  background-color: transparent;
  width: 100%;
}

.product-search input:focus{
  outline: none;
}
.products{
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-box{
  text-align: center;
  flex-basis: 20%;
}

.product-box img{
  border-radius: 10px;
}

/* conatct */
.contact {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-container{
  background-color: #1d232c;
  color: #f2f4f7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  margin: 30px;
  flex-basis: 75%;
  flex-grow: 1;
  /* width: 1000px; */
}

.contact-details textarea{
  margin-top: 10px;
  width: 900px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}
.contact-details textarea:focus{
  outline: none;
}

.contact-container button{
  padding: 10px 20px;
  background-color: #2269d4;
  color: #f2f4f7;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.contact-container button:focus{
  outline: none;
}
.contact-container button:hover{
  cursor: pointer;
}
/* footer */
.footer{
  margin-top: 29px;
  padding: 40px;
  background-color: #1d232c;
  color: #f2f4f7;

}



/* Media quary */

@media screen and (max-width: 743px) {
  .navbar-menu-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
  }
  .header img {
    display: none;
  }
  .service-container-1 {
    display: none;
  }
  .service-container-2{
    flex-direction: column;
  }
  .contact-container{
    flex-basis: 40%;
  }
  .contact-details textarea{
    width: 300px;
  }

}

